body {
    background-color: #1c1d67;
    color: #fff;
    padding: 10px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.title {
    text-align: center;
    margin-top: 20px;
}